#sidebars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    height: 740px;
    min-height: 50vh;
    max-width: 59px;
    padding: .2rem;
    padding-top: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    text-wrap: nowrap;
    border: 1px solid var(--line-clr);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 32px;
    z-index: 100;
    position: sticky;
    top: 40px;
    
}

#sidebar-toggle {
    
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    text-wrap: nowrap;
    
    >span {
        font-size: 1rem;
        font-weight: 600;
    }
    >svg {
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.sidebar.open {
    max-width: 240px;
}

#info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
    margin-right: 12px;
}

.menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    font-size: .95rem;
    cursor: pointer;
    

    > a {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        

       
    }

    >span {
         display: flex;
        align-items: center;
        gap: 1.4rem;
       
    }
    
    >span a {
        display: flex;
        align-items: center;
        gap: 1.4rem;
    }
}

.head-line {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.2rem;
   
}

.text {
    font-size: .95rem !important;
}



.text {
        display: flex !important;
    }

@media (max-width: 1350px) {

    .sidebar{
        min-width: 100%;
        flex-direction: row;
        border: none !important;
        max-height: 92px !important;
        min-height: 92px;
        justify-content: center;
        align-items: center;
        position: fixed !important;
        left: 0;
        border-top: .2px solid var(--line-clr) !important;
        border-right: none;
        padding: 0;
        margin: 0;
        background: none;
        backdrop-filter: blur(12px);
        overflow-x: scroll;
        top: 90%;
        border-radius: 8px;
    }

    #info-list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin: 0;
        height: 100%;
       
    }

    .menu {
        padding: 4px;
    }

     .menu-title {
        padding: 0rem;
     }
    

    .head-line {
        display: none !important;
    }
    .icon .text {
        display: none !important;
    }

    #sidebar-toggle {
        display: none;
    }
}


@media (max-height: 700px) {
#info-list {
    margin-bottom: 8px;
}

}