[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/preview/:id"
  to = "https://api.alwafi.net/api/products/preview/:id"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
