html, body {
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --base-clr: #11121a;
  --line-clr: #656565f1;
  --hover-clr: #e1e1e1;
  --text-clr: #e6e6e6;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #e9e9e9;
  --background: #fff;
  --text: #000;
  --button-border: 1px solid #000;
  --button-bg: #ffffff;
  --button-hover-bg: #b32525;
  --img: url('../assets/svg/wafi-logo-outline.svg');
}

[data-theme="dark"] {
  --background: #0f1011;
  --text: #fff;
  --button-border: 1px solid #fff;
  --button-bg: #202020;
  --button-hover-bg: #2f3242;
  --img: url('../assets/svg/wafi-logo-outline-white.svg');
  --gradient-start: #2c4493;
  --gradient-end: #462775;
  --landing-bg: linear-gradient(135deg, rgba(93, 93, 93, 0.2), rgba(65, 65, 65, 0.2)), url('../assets/laptops-bg-dark.jpg');
  --footer-img: url('../assets/svg/wafi-logo-filled-white.svg');
  --page-color: #ccc;
  --page-hover: #ffffff;
  --page-active-bg: linear-gradient(135deg, #2c4493, #462775);
  --page-highlight-shadow: rgba(70, 39, 117, 0.3);
  --gradient-blur: radial-gradient(at top left,rgba(0, 173, 181, 0.45), rgba(45, 55, 72, 0.2)
);

}

[data-theme="light"] {
  --background: #fff;
  --text: #000;
  --button-border: 1px solid #000;
  --button-bg: #ffffff;
  --button-hover-bg: #eaeaea;
  --img: url('../assets/svg/wafi-logo-outline.svg');
  --gradient-start: #5e63ff;
  --gradient-end: #00d4ff;
  --landing-bg: linear-gradient(135deg, rgba(102,126,234,0.1), rgba(247,100,186,0.1)), url('../assets/laptops-bg.jpg');
  --footer-img: url('../assets/svg/wafi-logo-filled.svg');
  --page-color: #333;
  --page-hover: #2563eb;
  --page-active-bg: linear-gradient(135deg, #5e63ff, #00d4ff);
  --page-highlight-shadow: rgba(94, 99, 255, 0.3);
  --theme: rgb(89, 24, 130);
  --theme-bg: linear-gradient(135deg, var(--accent-clr), var(--base-clr));
  --gradient-blur: radial-gradient(at bottom right,rgba(173, 216, 230, 0.079), rgba(255, 182, 193, 0.141) 100%);
}

/* ============================= */
/* 4️⃣ Global styles             */
/* ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
  font-family: "Noto Sans Arabic" !important;
}

h1, h2, h3, h4, h5, h6, p, span, button, li, ul, a, th, td {
  color: var(--text);
  transition: color 0.3s ease;
  font-family: 'Noto Sans Arabic', 'sans-serif' ;

}


td {
  background-color: var(--background);
}

li {
  color: var(--text);
  transition: color 0.3s ease, background 0.3s ease;
}

button {
  color: var(--text);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  background: none;
  border: 1px solid var(--text);
}


.loading-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}


.mantine-Menu-dropdown {
  overscroll-behavior: none !important;
  scroll-behavior: auto !important;
}
