.sidemenu-backdrop {
  position: absolute;
  inset: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
}

.sidemenu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  z-index: 9000;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(8px);
}

.sidemenu-close {
  display: flex;
  align-items: center;
}

.sidemenu-close h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  color: var(--text);
}

.sidemenu-list {
  list-style: none;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.sidemenu-main-btn {
  display: flex;
  align-items: center;
  width: 120px;
  gap: 6px;
  padding: 0.85rem;
  padding-left: 0 !important;
  background: none;
  border-radius: 12px;
  border: var(--theme);
  color: var(--text);
  font-weight: 600;
  cursor: pointer;
  
}

.sidemenu-icon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  color: var(--text);
}

.sidemenu-title {
  flex-grow: 1;
  text-align: left;
}

.sidemenu-arrow {
  margin-left: auto;
  font-size: 0.7rem;
}

.sidemenu-sublist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  align-items: flex-start;
  padding-left: 1.6rem;     
  border: none;              
}

.sidemenu-subitem {
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  font-weight: 400;
  transition: all 0.5s ease;
  color: var(--text);
  width: 100%;
}
